<ion-header>
  <ion-navbar>
    <button ion-button icon-only class="main-menu-btn" (click)="openPopover($event)">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Register Patient
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content #mycontent padding>

  <form #registerForm="ngForm">

    <ion-list>
      <div class="main-title">
        <span>General Information</span>
      </div>

      <ion-item-group>
        <ion-row>
          <ion-col col-12 text-center text-sm-left>
            <ion-row>
              <ion-col col-12>
                <user-pic [img]="profilePic"></user-pic>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-12 *ngIf="profilePic">
            <ion-row>
              <ion-col col-12 col-sm-6 col-md-4 col-lg-3>
                <button type="button" full color="light" ion-button (click)="deleteProfilePhoto()">
                  <ion-icon name="trash"></ion-icon>
                  &nbsp;Delete
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-12>
            <ion-row>
              <ion-col col-12 col-sm-6 col-md-4 col-lg-3>
                <button type="button" full ion-button (click)="file.click()">
                  <ion-icon name="camera"></ion-icon>
                  &nbsp;Take profile photo
                </button>
                <input type="file" #file name="logo" class="hidden-file-input" accept="image/jpeg,image/png"
                       (change)="photoSelected($event)">
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm-6 col-md-3>
            <ion-item>
              <ion-label floating>First Name</ion-label>
              <ion-input disableEmodji type="text" #firstName="ngModel" [(ngModel)]="model.name" name="firstName"
                         required></ion-input>
            </ion-item>
            <val-message [control]="registerForm.form.controls.firstName"
                         [messages]="validationMessages.firstName"></val-message>
          </ion-col>
          <ion-col col-12 col-sm-6 col-md-3>
            <ion-item>
              <ion-label floating>Last Name</ion-label>
              <ion-input disableEmodji type="text" #lastName="ngModel" [(ngModel)]="model.surname" name="lastName"
                         required></ion-input>
            </ion-item>
            <val-message [control]="registerForm.form.controls.lastName"
                         [messages]="validationMessages.lastName"></val-message>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm-6 col-md-3>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input disableEmodji type="email" #email="ngModel" [(ngModel)]="model.emailAddress" name="email"
                         required></ion-input>
            </ion-item>
            <val-message [control]="registerForm.form.controls.email"
                         [messages]="validationMessages.email"></val-message>
          </ion-col>
        </ion-row>
      </ion-item-group>
      <ion-item-group>
        <ion-row>
          <ion-col col-12 col-sm-6 col-md-3>
            <ion-item>
              <ion-label floating>Birthday</ion-label>
              <ion-datetime displayFormat="{{displayDateFormat}}" #birthDay (ionChange)="handleChangeDate($event)"
                            [(ngModel)]="birthday" name="birthDay" required></ion-datetime>
            </ion-item>
            <val-message [control]="registerForm.form.controls.birthDay"
                         [messages]="validationMessages.birthDay"></val-message>
          </ion-col>
        </ion-row>
      </ion-item-group>

    </ion-list>
    <ion-list>
      <div class="main-title">
        <span>Contact Details</span>
      </div>

      <ion-item-group>
        <ion-row>
          <ion-col col-12 col-sm-3 col-md-2>
            <ion-item>
              <ion-label floating>House Number</ion-label>
              <ion-input disableEmodji type="text" #houseNumber="ngModel" [(ngModel)]="model.houseNumber" name="houseNumber"
                         required></ion-input>
            </ion-item>
            <val-message [control]="registerForm.form.controls.houseNumber"
                         [messages]="validationMessages.houseNumber"></val-message>
          </ion-col>
          <ion-col col-12 col-sm-9 col-md-4>
            <ion-item>
              <ion-label floating>Address</ion-label>
              <ion-input disableEmodji type="text" #address="ngModel" [(ngModel)]="model.address" name="address" required></ion-input>
            </ion-item>
            <val-message [control]="registerForm.form.controls.address"
                         [messages]="validationMessages.address"></val-message>
          </ion-col>
        </ion-row>
      </ion-item-group>
      <ion-item-group>
        <ion-row>
          <ion-col col-12 col-sm-6 col-md-3>
            <ion-item>
              <ion-label floating>County</ion-label>
              <ion-select #county="ngModel" [(ngModel)]="model.countyId" name="country" required>
                <ion-option *ngFor="let county of counties" [value]="county.id">{{county.name}}</ion-option>
              </ion-select>
            </ion-item>
            <val-message [control]="registerForm.form.controls.country"
                         [messages]="validationMessages.country"></val-message>
          </ion-col>
          <ion-col col-12 col-sm-6 col-md-3>
            <ion-item>
              <ion-label floating>Postcode</ion-label>
              <ion-input disableEmodji #postcode="ngModel" type="text" [(ngModel)]="model.postCode" name="postcode"
                         required></ion-input>
            </ion-item>
            <val-message [control]="registerForm.form.controls.postcode"
                         [messages]="validationMessages.postcode"></val-message>
          </ion-col>
        </ion-row>
      </ion-item-group>
      <ion-item-group>
        <ion-row>
          <ion-col col-12 col-sm-6 col-md-3>
            <ion-item>
              <ion-label floating>Home Tel. No.</ion-label>
              <ion-input disableEmodji #homeTel="ngModel" type="tel" digitAllow [(ngModel)]="model.phoneNumber" name="homeTel"></ion-input>
            </ion-item>
            <!--<val-message [control]="registerForm.form.controls.homeTel" [messages]="validationMessages.homeTel"></val-message>-->
          </ion-col>
          <ion-col col-12 col-sm-6 col-md-3>
            <ion-item>
              <ion-label floating>Work Tel. No.</ion-label>
              <ion-input disableEmodji #workTel="ngModel" digitAllow type="tel" [(ngModel)]="model.workPhoneNumber" name="workTel"></ion-input>
            </ion-item>
            <!--<val-message [control]="registerForm.form.controls.workTel" [messages]="validationMessages.workTel"></val-message>-->
          </ion-col>
        </ion-row>
      </ion-item-group>
      <ion-item-group>
        <ion-row>
          <ion-col col-12 col-sm-6 col-md-3>
            <ion-item>
              <ion-label floating>Mobile Tel. No.</ion-label>
              <ion-input disableEmodji #mobileTel="ngModel" type="tel" digitAllow [(ngModel)]="model.mobilePhoneNumber" name="mobileTel"
                         required></ion-input>
            </ion-item>
            <val-message [control]="registerForm.form.controls.mobileTel"
                         [messages]="validationMessages.mobileTel"></val-message>
          </ion-col>
        </ion-row>
      </ion-item-group>
    </ion-list>
    <ion-list>
      <div class="main-title">
        <span> Medical Details</span>
      </div>
      <ion-item-group>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-6>
            <ion-item>
              <ion-label floating>Clinic/Hospital No.</ion-label>
              <ion-input disableEmodji #hospitalNum="ngModel" type="text" [(ngModel)]="model.clinicHospitalNumber" name="hospitalNum"
                         required></ion-input>
            </ion-item>
            <val-message [control]="registerForm.form.controls.hospitalNum"
                         [messages]="validationMessages.hospitalNum"></val-message>
          </ion-col>
        </ion-row>
      </ion-item-group>
      <ion-item-group>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-6>
            <ion-item>
              <ion-label floating>GP/Practitioner</ion-label>
              <ion-input disableEmodji #practice="ngModel" type="text" required [(ngModel)]="model.gP_Practitioner"
                         name="practice"></ion-input>
            </ion-item>
            <val-message [control]="registerForm.form.controls.practice"
                         [messages]="validationMessages.practice"></val-message>
          </ion-col>
        </ion-row>
      </ion-item-group>
      <ion-item-group>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-6>
            <ion-item>
              <ion-label floating>Comments</ion-label>
              <ion-textarea #consultant="ngModel" [(ngModel)]="model.comments" name="comments"></ion-textarea>
            </ion-item>
            <!--<val-message [control]="registerForm.form.controls.comments" [messages]="validationMessages.comments"></val-message>-->
          </ion-col>
        </ion-row>
      </ion-item-group>
    </ion-list>
    <button ion-button (click)="registerPatient(registerForm)">Create</button>
  </form>

</ion-content>
