page-edit-my-details {
  .general-info {
    &__pic{
      img{
        max-width: 150px;
      }
    }

    &__label{
      font-size: 1.2em;
      padding-bottom: .5em;
    }

    &__value{
      font-size: 1.1em;
      padding-bottom: .5em;
      font-weight: bold;
    }
    input.file {
      position: relative;
      text-align: right;


      opacity: 0;
      z-index: 2;
    }
    ion-card img{
      display: inline-block;
    }
    .edit-info {
      .button {
        width: 100%;
      }
      &__pic {
        max-width: 300px;
        margin: 0 auto 30px;
        text-align: center;

        img {
          width: 100%;
          height: auto;
        }
        .button {
          width: auto;
        }

      }
      &.card {
        box-shadow: none;
      }

      .card-content {
        padding: 0 0 20px;
        //border-bottom: 1px solid #ccc
      }
      .card-title {
        //padding-left: 5px;
      }
      .item {
        //padding-left: 0;

        ion-label {
          white-space: normal;
        }

      }


    }

  }
}

@media (min-width: 576px) {

  page-edit-my-details {

    .edit-info {

      .button {
        max-width: 250px;
      }

    }

  }

}

